<div class="rows rows-7">
  <div class="wrap">
       <div>
           <h4>产品</h4>
           <ul class="product">
               <li><a title="产品功能" href="func.php">产品功能</a></li>
               <li><a title="产品价格" href="price.php">产品价格</a></li>
               <li><a title="客户端" href="download.php">客户端</a></li>
               <li><a title="服务条款" href="service.php">服务条款</a></li>
           </ul>
       </div>
       <div>
           <h4>使用</h4>
           <ul class="use">
               <li><a title="使用手册" onclick = 'window.open("http://doc.rishiqing.com", "_blank");' href="javascript:;" >使用手册</a></li>
               <li><a title="博客" href="https://www.rishiqing.com/blog/" >博客</a></li>
               <!-- <li><a title="新手指南" href="guide.php">新手指南</a></li> -->
               <!-- <li><a title="帮助中心" href="help.php">帮助中心</a></li> -->
           </ul>

       </div>
        <div>
            <h4>关于</h4>
            <ul class="about">
                <li><a title="关于我们" href="about.php">关于我们</a></li>
    <!--             <li><a title="团队成员" href="aboutUs.php">团队成员</a></li>
                <li><a title="合作伙伴" href="partners.php">合作伙伴</a></li>
     -->        </ul>
        </div>
       <div>
           <h4>联系方式</h4>
           <ul class="contact">
               <li><span title="联系方式" href="#">010-57294778</span></li>
               <li><a href="tencent://message/?uin=3500636638&Site=&Menu=yes">申请友情链接</a></li>
           </ul>
       </div>

       <!-- </div> -->
    </div>
  </div>
   <!-- <div class="wrap"> -->

