<div class="header" style= ''>
    <div class="logo">
        <h1 class="title">日事清</h1>

        <a title="日事清" href="/index.php"><img src="//rsqsystem.oss-cn-beijing.aliyuncs.com/logo/logo%4040.png" alt="日事清logo" title = '日事清'><h3>RISHIQING<i>.com</i></h3></a>
    </div>
    <div class="log-reg">
        <a title="登录" href="javascript:;" class="login loginDialog notLoginHead" onclick="window.queryValue = '';">登录</a>
        <a title="注册" href="javascript:;" class="register regDialog notLoginHead deep-blue-bg im" onclick="window.queryValue = '';">注册</a>
    </div>
    <div id="logAvatar">
      <div class="avatarName"></div>
        <div class="avatarImage"></div>
    </div>
    <ul class="nav">
        <!-- <li class = 'nav-index'><a title="首页" href="/index.php">首页</a></li> -->
        <li class = 'nav-func'><a title="功能" href="/func.php">功能</a></li>
        <li class = 'nav-ding'><a title="钉钉" href="/ding.php">钉钉应用</a></li>
        <li class = 'nav-download'><a title="下载" href="/download.php" >下载</a></li>
        <li class = 'nav-price'><a title="价格" href="/price.php" >价格</a></li>
        <li class = 'nav-download'><a title="下载" href="/download.php" >下载</a></li>
        <li class = 'nav-solutions'><a title="解决方案" href="/solutions.php" >解决方案</a></li>
        <li class = 'nav-blog'><a title="博客" href="/blog/" >博客</a></li>
        <li class = 'nav-course'><a title="课程" href="/courses.php" >课程</a></li>
        <li class = 'nav-help'><a title="帮助" href="/qa.php" >帮助</a></li>
        <li class = 'nav-ding'><a title="钉钉" href="/ding.php">钉钉</a></li>
        <!-- <li class = 'nav-manual'><a title="使用手册" onclick = 'window.open("http://doc.rishiqing.com", "_blank");' href="javascript:;" >使用手册</a></li> -->
        <div class="divider"></div>
        <li class = 'res-btn'>
        <a title="登录" href="/i?port=2" class="" onclick="window.queryValue = '';">登录</a>
        </li>
        <li class = 'res-btn'>
            <a title="注册" href="i?port=1" class="" onclick="window.queryValue = '';">注册</a>
        </li>
    </ul>
    <div class="toggle-menu nav-res">
        菜单
    </div>
</div>
<script>
    (function() {
      if (window.AVATAR_HAS) {
        var AVATAR_URL = "https://rishiqing-avatar.oss-cn-beijing.aliyuncs.com";
        if (AVATAR_OBJ.hasAvatar) {
          AVATAR_URL = AVATAR_URL + '/_small_avatar' + AVATAR_OBJ.id + '.png';
        } else {
          AVATAR_URL = 'https://rishiqing-images.oss-cn-beijing.aliyuncs.com/avatar/_small_avatar1.png'
        }
        $('.log-reg').hide();
        var $avatar = $('#logAvatar');
        if ($avatar && $avatar.length) {
          $avatar.find('.avatarImage').css('background-image','url("'+AVATAR_URL+'")');
          $avatar.find('.avatarName').text(AVATAR_OBJ.realName);
          $avatar.addClass('showing');
        }
      }
    })();

</script>
