<div class="header" style= 'height: 48px;box-sizing: border-box;'>
    <div class="logo">
        <h1 class="title">日事清</h1>

        <a title="日事清" href="/index.php"><img src="//rsqsystem.oss-cn-beijing.aliyuncs.com/logo/logo%4040.png" alt="日事清logo" title = '日事清'><h3>RISHIQING<i>.com</i></h3></a>
    </div>
    <div class="log-reg">
        <a title="登录" href="javascript:;" class="login loginDialog notLoginHead" onclick="window.queryValue = '';">登录</a>
        <a title="注册" href="javascript:;" class="register regDialog notLoginHead deep-blue-bg im" onclick="window.queryValue = '';">注册</a>
    </div>
    <ul class="nav">
        <li class = 'nav-index'><a title="首页" href="/index.php">首页</a></li>
        <li class = 'nav-func'><a title="功能" href="/func.php">功能</a></li>
        <li class = 'nav-download'><a title="下载" href="/download.php" >下载</a></li>
        <li class = 'nav-price'><a title="价格" href="/price.php" >价格</a></li>
        <li class = 'nav-blog'><a title="博客" href="/blog/" >博客</a></li>
        <li class = 'nav-manual'><a title="使用手册" onclick = 'window.open("http://doc.rishiqing.com", "_blank");' href="javascript:;" >使用手册</a></li>
        <div class="divider"></div>
        <li class = 'res-btn'>
        <a title="登录" href="/sign-in.php" class="" onclick="window.queryValue = '';">登录</a>
        </li>
        <li class = 'res-btn'>
            <a title="注册" href="/sign-up.php" class="" onclick="window.queryValue = '';">注册</a>
        </li>
    </ul>
    <div class="toggle-menu nav-res">
        菜单
    </div>
</div>
