<div class="banner-bg">
<img src="{{asset "images/banner/banner-left.png"}}" alt="左边头图" height = '476' class = 'left'>
  <img src="{{asset "images/banner/banner-right.png"}}" alt="右边头图" height = '476' class = 'right'>

<div class="wrap">
  <h2>日事清 — BLOG</h2>
  <p>你理想的工作方式</p>

  <img src="{{asset "images/banner/ball.png"}}" alt="球" class = 'ball' width = '208' height = '130'>
</div>


  {{!-- <img src="{{asset "banner.png"}}" alt=""> --}}
</div>
