<div class="mask" style="display:none"></div>

<div class="popup">
    <i class="cross">X</i>
    <!--【注册/登录界面】---------->
    <div class="popupContainer" id="pageRegLog">
        <div class="switcher">
            <ul>
                <li class="switchLog">登录</li>
                <li class="switchReg">注册</li>
            </ul>
            <div class="switchBar"></div>
        </div>
        <form id="logMain">
            <div class="posR">
                <ul class="searchResult"></ul>
                <input id="logEmail" type="text" class="popInput emails" autocomplete="off" placeholder="输入您的邮箱/手机号">
                <i class="iconUser"></i>
            </div>
            <div class="posR">
                <input id="logPassword" type="password" class="popInput passwords" placeholder="输入您的密码">
                <i class="iconPsw"></i>
            </div>
            <div class="aboutPsw">
                <div class="rememberPsw">
                    <input id="checkboxLogin" type="checkbox" name="checkboxLogin">
                    <label for="checkboxLogin">记住密码</label>
                </div>
                <div class="findPsw">
                    忘记密码
                </div>
            </div>
            <div id="logBtn" class="btnS blueBtn">登　录</div>
        </form>
        <form id="regMain">
            <div class="posR">
                <ul class="searchResult"></ul>
                <input id="regEmail" type="text" class="popInput emails" autocomplete="off" placeholder="输入您的邮箱/手机号">
                <i class="iconUser"></i>
            </div>
            <div class="posR">
                <input id="regPassword" type="password" class="popInput passwords" placeholder="输入您的密码">
                <i class="iconPsw"></i>
            </div>
            <input id="regRealName" type="text" class="popInput" autocomplete="off" placeholder="输入您的姓名">

            <div id="regBtn" class="btnS blueBtn">注　册</div>
        </form>
        <!--错误提示框-->
        <footer>
            <div class="socializeLoginBtn sQQ"></div>
            <div class="socializeLoginBtn sWeixin"></div>
            <div class="socializeLoginBtn sWeibo"></div>
        </footer>
    </div>
    <!--【手机注册发验证码】---------------->
    <div class="popupContainer" id="phoneReg">
        <p class="resetMsg">短信发送成功</p>

        <div class="posR">
            <i class="iconPhone"></i>
            <input id="regReInputPho" type="text" class="popInput" disabled="disabled" placeholder="您的手机号">
        </div>
        <div class="posR">
            <input id="regValidateCode" type="text" placeholder="输入您的验证码">

            <div id="regReSendMessage" class="reSend">60</div>
            <i class="iconYzm"></i>
        </div>
        <button id="regMessageCommit" class="btnS blueBtn">确　认</button>
    </div>
    <!--【被邀请引导页】---------->
    <div class="popupContainer" id="invitedPeople">
        <div class="planeImage">
        </div>
        <p class="middleText">
            您被邀请加入 <span class="bigBlue teamName">某个团队</span>
        </p>
        <button id="inviteReg1" class="btnS btnLong blueBtn">立即注册新账户</button>
        <button id="inviteLogin1" class="btnS btnLong redBtn">已有账户</button>
    </div>
    <!--【跳槽页】---------->
    <div class="popupContainer" id="choseOne">
        <div class="planeImage">
        </div>
        <p class="middleText">
            您被邀请加入 <span class="bigBlue teamName">某个团队</span>
        </p>
        <button id="goNewTeam" class="btnS btnLong whiteBtn">是，我要加入新团队</button>
        <button id="stayOldTeam" class="btnS btnLong blueBtn">否，我要留在原来的团队</button>
    </div>
    <!--【邮箱注册要去验证】---------------->
    <div class="popupContainer" id="regSuccessDlg">
        <div class="planeImage">
        </div>
        <p class="middleText">
            <span>注册成功!验证邮件已发送到您的邮箱，请登录邮箱验证</span>
        </p>

        <div class="posR">
            <ul class="searchResult"></ul>
            <input id="checkEmail" type="text" class="popInput emails" placeholder="重新输入邮箱">
            <i class="iconEmail"></i>
        </div>
        <button id="toCheckEmail" class="btnS btnLong blueBtn">登录邮箱验证</button>
    </div>
    <!--【重置密码引导页】-->
    <div class="popupContainer" id="findPassword">
        <p class="resetMsg">请输入您的邮箱或手机号，我们将给您发送重置密码邮件或验证码</p>

        <div class="posR">
            <ul class="searchResult"></ul>
            <input id="findRegEmail" type="email" class="popInput emails" placeholder="注册时的邮箱或手机号">
            <i class="iconUser"></i>
        </div>
        <button type="button" id="send" class="btnS blueBtn">发　送</button>
    </div>
    <!--【发邮件重置密码】---------->
    <div class="popupContainer" id="sendEmail">
        <p class="resetMsg">修改密码邮件发送成功</p>

        <div class="posR">
            <ul class="searchResult"></ul>
            <input id="sendEmailMsg" type="email" class="popInput emails" placeholder="重新输入邮箱">
            <i class="iconEmail"></i>
        </div>
        <button id="emailResetPsw" class="btnS blueBtn">登录邮箱</button>
    </div>
    <!--【发短信重置密码】---------->
    <div class="popupContainer" id="sendMessage">
        <p class="resetMsg">短信发送成功，请输入您的手机验证码</p>

        <div class="posR">
            <input id="reInputPho" type="text" class="popInput " disabled placeholder="重新输入手机号码">
            <i class="iconPhone"></i>
        </div>
        <div class="posR">
            <input id="validateCode" type="text" placeholder="验证码">
            <!--手机不对错误提示-->
            <button id="phoReSendMessage" class="reSend">60</button>
            <i class="iconYzm"></i>
        </div>
        <button id="messageCommit" class="btnS blueBtn">确　认</button>
    </div>
    <!--【重置密码界面】---------->
    <div class="popupContainer" id="resetPassword">
        <p class="resetMsg">请重新设置您的密码！</p>

        <div class="posR">
            <input id="newPassword" type="password" class="popInput regPassword" placeholder="请输入新密码">
            <i class="iconPsw"></i>
        </div>
        <div class="posR">
            <input id="commitPassword" type="password" class="popInput regPassword" placeholder="再次输入确认">
            <i class="iconPsw"></i>
        </div>
        <button id="renamePswCommit" class="btnS blueBtn">确　认</button>
    </div>
    <!--【快速登录界面】---------->
    <div class="popupContainer" id="pageSoonLogin">
        <div class="switcher">
            <ul>
                <li class="switchQQ">QQ登录</li>
                <li class="switchWX">微信登录</li>
                <li class="switchLogin">账户登录</li>
            </ul>
            <div class="switchBar"></div>
        </div>
        <div class="soonCont QQMain">
            <div class="qqPic toQQLogin" ></div>
            <p class="toQQLogin"><span>使用QQ快速登录</span></p>
            <div class="newUserReg">
                <span>新用户注册</span>
            </div>
        </div>
        <div class="soonCont WXMain">
            <div class="wxPic" id="login_container"></div>
            <p>请使用微信扫描二维码登录<i class="icon-fresh"></i><span class="freshText">刷新</span></p>

            <div class="newUserReg">
                <span>新用户注册</span>
            </div>
        </div>
        <div class="soonCont soonLogMain">
            <div class="posR">
                <ul class="searchResult"></ul>
                <input type="text" class="logEmail popInput emails" autocomplete="off" placeholder="输入您的邮箱/手机号">
                <i class="iconUser"></i>
            </div>
            <div class="posR">
                <input type="password" class="logPassword popInput passwords" placeholder="输入您的密码">
                <i class="iconPsw"></i>
            </div>
            <div class="soonLogBtn btnS blueBtn">登　录</div>
            <div class="newUserReg">
                <span>新用户注册</span>
            </div>
        </div>
    </div>
    <div class="errorPlace"></div>
</div>
