<header role="banner">
    {{!-- <div class="wrap">
        <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <hr>
    </div> --}}
    <ul class="tags">
      <li ><a href="/tag/activity" class = 'activity' style = ''>活动沙龙</a></li>
      <li ><a href="/tag/product" class = 'product' style = ''>产品动态</a></li>
      <li ><a href="/tag/media-report" class = 'media-report' style = ''>媒体报道</a></li>
      <li ><a href="/tag/user-story" class = 'user-story' style = ''>用户故事</a></li>

    </ul>
</header>
