/*
* @Author: Jiang Guoxi
* @Date:   2016-10-24 11:31:41
* @Last Modified by:   Jiang Guoxi
* @Last Modified time: 2016-10-25 14:58:55
*/
.banner-bg {
    background-image: url('../../images/banner/-4.png');
    background-size: cover;
    width: 100%;
    height: 260px;
    color: #fff;
    display: flex;
    align-items: center;
    background-position: center;
    position: relative;
    margin-bottom: 104px;
    &:after {
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      z-index: 0;
      background-image: linear-gradient(0deg, #77E7FC 0%, #136CFF 100%);
    }
    .content {
      color: inherit;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      h3, p {
        color: inherit;
      }
      h3 + p {
        max-width: 655px;
        width: auto;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 27px;
      }
      h3 {
        margin-top: 0;
        font-size: 36px;
        @media screen and (max-width:468px) {
            font-size: 18px;
        }
      }
    }
}
