/*
* @Author: Jiang Guoxi
* @Date:   2016-09-02 11:27:45
* @Last Modified by:   Jiang Guoxi
* @Last Modified time: 2016-10-24 11:33:27
*/
.rows-7 {
  height: 232px;
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 40px;
  background-color: rgb(2, 158, 227);
  background-image:linear-gradient(-180deg, #0082ff 0%, #039CE0 100%);
  background-image:-webkit-linear-gradient(-90deg, #0082ff 0%, #039CE0 100%);
  background-image:-ms-linear-gradient(-90deg, #0082ff 0%, #039CE0 100%);
  border: 0;
  font-size: 0;
  box-sizing: content-box!important;
  margin-left: -5%;
  a, span {
    color: rgba(255, 255, 255, .85);
  }
  h4{
    color: #fff;
    font-size: 20px;
    margin-bottom: 19px;
  }
  > div {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    > div {
      width: 25%;
      display: inline-block;
      text-align: left;
      float: left;
      box-sizing: border-box;
      padding-left: 11%;
    }
  }
  ul {
    li {
      font-size: 14px;

      & + li {
        margin-top: 15px;
      }
    }
  }
}
.footer {
  text-align: center;
  background: #006bc0;
  margin-top: -40px;
  position: relative;
  height: 40px;
  line-height: 40px;
  .caption {
    /*background-color: rgb(2, 158, 227);*/
    background: #0095ff;
    color: #f3e2e2;
    font-size: 12px;
    padding: 20px;
  }
  span {
    font-size: 12px;
    line-height: 36px;
    color: #66A4D6;
    color: rgba(255,255,255,.37);
    #color: #66A4D6;
  }
}
.rows-7{
  height: 232px;
  overflow: hidden;
  padding-top: 35px;
  /*background: #0095ff;*/
  padding-bottom: 40px;
  background-color: rgb(2, 158, 227); /* IE µÍ°æ±¾ÏÂ»áÊ¹ÓÃÕâ¸ö */
  background-image:linear-gradient(-180deg, #0082ff 0%, #039CE0 100%);
  background-image:-webkit-linear-gradient(-90deg, #0082ff 0%, #039CE0 100%);
  background-image:-ms-linear-gradient(-90deg, #0082ff 0%, #039CE0 100%);
  border: 0;
  font-size: 0;
}
.rows-7 {
  box-sizing: content-box!important;
  margin-left: -5%;
}
.rows-7 h4{
  color: #fff;
  font-size: 20px;
  margin-bottom: 19px;
}
.rows-7 h4,
.rows-7 ul {
  /*padding: */
}

.rows-7 > div {
  width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}
.rows-7 > div > div {
  width: 25%;
  display: inline-block;
  text-align: left;
  float: left;
  box-sizing: border-box;
  padding-left: 11%;
}
.rows-7 ul {

}
.rows-7 ul li {
  font-size: 14px;
}
.rows-7 li + li {
  margin-top: 15px;
}
.rows-7 a, .rows-7 span {
  color: rgba(255, 255, 255, .85);
}
.footer{
  text-align: center;
  background: #006bc0;
  margin-top: -40px;
  position: relative;
  height: 40px;
  line-height: 40px;
}
.footer .caption {
  /*background-color: rgb(2, 158, 227);*/
  background: #0095ff;
  color: #f3e2e2;
  font-size: 12px;
  padding: 20px;
}
.footer span{
  font-size: 12px;
  line-height: 36px;
  color: #66A4D6;
  color: rgba(255,255,255,.37);
  #color: #66A4D6;
}
