/*
* @Author: Jiang Guoxi
* @Date:   2016-10-24 11:37:42
* @Last Modified by:   Jiang Guoxi
* @Last Modified time: 2016-11-08 14:13:13
*/
$NAV_HEGHT: 60px;
body > .header {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    background:#ffffff;
    box-shadow:0px 2px 2px 0px rgba(226,225,225,0.50);
    height:$NAV_HEGHT;
    line-height: $NAV_HEGHT;
    box-sizing: border-box;
    padding: 0 30px;
    // overflow: hidden;
}
body > .header > .logo {
    float: left;
    width: 300px;
    text-align: left;
}
body > .header > .logo > h1 {
    position: absolute;
    visibility: hidden;
    /*text-indent: -99999px;*/
}
body > .header > .logo  img {
    width: 20px;
    height: 26px;
    float: left;
    margin-top: 16px;
    // vertical-align: -14%;
}
body > .header > .logo   img  + h3{
    display: inline-block;
    margin-left: 12px;
    font-size: 16px;
    color: #0082ff;
}
body > .header > .logo h3 + i {
    font-size:14px;
}
body > .header > .log-reg {
    float: right;
}
body > .header > .log-reg a {
    color: #fff;
    border: 1px solid #000000;
    border-radius:4px;
    color: #000;
    padding: 6px 17px;
    cursor: pointer;
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    transition: all ease-out .2s;
}
body > .header > .log-reg a:hover {
    opacity: .8;
}
body > .header > .log-reg a.register {
    background:#0082ff;
    color: #fff;
    border-color: #0082ff;
    margin-left: 14px;
    /*background:*/
}
body > .header > .nav {
    float: right;
    margin-right: 47px;
    /*color: #fff;*/
}
body > .header > .nav > li {
    float: left;

}
body > .header > .nav > li + li {
    margin-left:21px;
}
body > .header > .nav > li a {
    color: #000;
}
body>.header>.nav>li.res-btn {
    display: none;
}
body>.header>.nav {
  margin-right: 0;
}
