/*
* @Author: Jiang Guoxi
* @Date:   2016-10-24 11:29:16
* @Last Modified by:   Jiang Guoxi
* @Last Modified time: 2016-10-25 18:27:52
*/
#kf5-support-123456789.kf5-style3 .kf5-support-btn {
    min-width: 56px !important;
    right: 31px !important;
    height: 45px !important;
    line-height: 45px !important;
}

#kf5-support-123456789.kf5-style3 .kf5-support-btn span {
    font-size: 16px !important;
}
