/*
* @Author: Jiang Guoxi
* @Date:   2016-10-24 11:29:16
* @Last Modified by:   Jiang Guoxi
* @Last Modified time: 2016-10-24 11:29:22
*/
#kf5-support-123456789.kf5-style3 .kf5-support-btn {
    min-width: 56px !important;
    right: 31px !important;
    height: 30px !important;
    line-height: 29px !important;
}

#kf5-support-123456789.kf5-style3 .kf5-support-btn span {
    font-size: 12px !important;
}
