/*
* @Author: Jiang Guoxi
* @Date:   2016-10-24 12:31:48
* @Last Modified by:   Jiang Guoxi
* @Last Modified time: 2016-10-25 21:10:54
*/
@import './slide-box';

@media screen and (max-width: 1024px) {
  body.one-row #container {
    height: auto;
  }
  body #container .rows,
  body #container .footer{
    box-sizing: border-box;
  }
  .rows.rows-7 {
    margin-left: 0;
  }
}
.nav-res {
  display: none;
}
.bg-img-res {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  body {
    .rows-7 {
      height: auto;
    }
    .rows-7 > div {
      width: 100%;
    }
    .rows-7 > div > div {
      width: 50%;
      height: 220px;
    }
    .rows-7 > div > div:nth-last-child(1),
    .rows-7 > div > div:nth-last-child(2) {
      height: 120px;
    }
    .footer {
      padding-bottom: 45px;
    }
  }
}

@media screen and (max-width: 720px) {
  body #container {
    padding-bottom: 48px;
  }
  body .rows-1 .header .log-reg {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (min-width: 720px) {
  body > .header {
    width: 100vw;
    // width: 100%;
  }
  ul.article-list {
    width: 100%;
    li {
      width: 261px;
      & + li {
        margin-left: 0;
      }
      &:nth-child(2n) {
        margin-left: 31px;
      }
    }
  }
  body .rows-7>div>div {
    &:nth-child(2n + 1) {
      width: 40%;
      padding-left: 21%;
    }
    &:nth-child(2n) {
      padding-left: 22%;
    }
  }
  body .footer {
    padding-bottom: 0;
  }
  body>header>.tags {
    width: 100%;
    padding: 0 calc(50% - 301px);
    box-sizing: border-box;
    li {
      display: inline-block;
      width: 50%;
      & + li {
        margin-left: 0;
      }
      &:nth-child(3),
      &:nth-child(4) {
        margin-top: 40px;
      }

    }
  }
  body>article {
    width: 85%;
  }
}
