// @import './res-common';                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            @import './res-common';
@media screen and (max-width: 720px) {
  body>.header>.logo {
    width: auto;
  }
  body > .header {
    width: 100vw;
  }
  .header > .nav-res {
    border: 1px solid #0082ff;
    color: #0082ff;
    margin-top: 12px;
    margin-right: 0;
  }
  div.banner-bg {
    img {
      display: none;
    }
    height: 160px;
    .wrap {
      width: 100%;
      margin: 0;
      padding-left: 0;
      h2 {
        margin-top: 38px;
        font-size: 18px;
        text-align: center;
        width: 100%;
        & + p {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
  .banner-bg>div>h2 {

  }
  body > header[role='banner'] {
    margin: 0;
    margin-bottom: 73px;
    padding: 0 8.59375%;
    .tags {
      text-align: center;
      font-size: 0;
      li {
        width: 37.5%;
        float: none;
        display: inline-block;
        vertical-align: top;

        & + li {
          margin-left: 0;
        }
        &:nth-child(2n) {
          margin-left: 7.8%;
        }
        &:nth-child(3),
        &:nth-child(4) {
          margin-top: 75px;
        }
        a {
          width: 100%;
          height: 30px;
          line-height: 30px;
        }
      }
    }
  }
  ul.article-list {
    width: 100%;
    margin-bottom: 70px;
    li {
      > article {
        &:first-of-type {
          margin-top: 0;
        }
      }
      &:nth-child(3n + 1){
        margin: 0 auto;
        margin-bottom: 56px;
        // margin-left: 0;
      }
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
      display: block;
      margin: 0 auto;
      margin-bottom: 56px;
    }
  }
  // for posts
  body > article[role='main'] {
    padding: 0 6.09%;
    margin-top: 0;
    width: 100%;
    box-sizing: border-box;
    p {
      margin-bottom: 24px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  body.post-template {
    .banner-bg {
      height: auto;
    }
  }
  body #post_nav #post_next,
  body #post_nav #post_prev {

  }
  body #post_nav {
    padding-bottom: 35px;
  }
  body #post_nav #post_next {
    float: left!important;
  }
  body #post_nav #post_prev  {
    float: right!important;
  }
}
@media screen and (max-width: 720px) {
  #kf5-support-123456789.kf5-style3.kf5-right .kf5-support-btn {
    right: 0!important;
  }
}
