/*
* @Author: Jiang Guoxi
* @Date:   2016-10-24 16:23:56
* @Last Modified by:   Jiang Guoxi
* @Last Modified time: 2016-10-25 15:34:34
*/
@media screen and (max-width: 720px) {
  body {
    .rows h3 {
      font-size: 18px;
    }
    .rows-2 > h3 + p {
      width: 300px;
    }
    .rows > h3 {
      // margin-top: 38px;
    }
    .header.show-menu {
      .logo {
        position: relative;
      }
      ul.nav {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        line-height: 28px;
        opacity: 1;
        z-index: 9999;
        display: block;
        margin-top: -4px;
        left: 0;
        li {
          visibility: visible;
          display: block;
        }
      }
    }
    ul.nav {
      position: fixed;
      box-sizing: border-box;
      top: 50px;
      bottom: 100%;
      width: 100%;
      height: 0;
      overflow: hidden;
      opacity: 0;
      z-index: -100;
      line-height: 0;
      margin-top: -4px;
      background-color: #fff;
      transition: all ease-out .2s;
      -webkit-transition: all ease-out .2s;
      border-radius: 2px;
      padding-top: 0;
      left: 0;
      .divider {
        height: 1px;
        border-top: 1px dashed #a3a3a3;
        margin-bottom: calc(4.325% + 7.5px);
        ~ li {
          height: auto;
        }
      }
      li {
        text-align: center;
        color: #666;
        height: 12.06%;
        line-height: 1;
        visibility: hidden;
        // line-height:
        &.res-btn {
          display: block;
          a {
            border:1px solid #0082ff;
            color: #0082ff!important;
            border-radius:4px;
            width:193px;
            height:24px;
            line-height: 24px;
            display: inline-block;
          }
          & + .res-btn {
            margin-top: 7px;
          }
        }
      }
    }
    .header  {
      overflow: visible;
      .nav  li {
        float: none;
        width: 100%;
        text-align: center;
        & + li {
          margin-left: 0;
        }
      }
    }
    .nav-res {
      border:1px solid #0082ff;
      color: #0082ff;
    }
    .nav-res {
      display: block;
      margin-right: 32px;
      float: right;
      border:1px solid #ffffff;
      color: #fff;
      border-radius:4px;
      line-height: 24px;
      width: 48px;
      position: relative;
    }
  }
}
