body > header {
  margin-top: 88px;
  text-align: center;
}
body > header > .tags {
  display: inline-block;
  font-size: 0;
  li {
    float: left;
    a {
      color: inherit;
      border-radius:100px;
      width:150px;
      height:45px;
      line-height: 45px;
      font-size: 16px;
      border: 1px solid #0082ff;
      display: inline-block;
      color: #1089ff;
    }
    &:last-child {
      @media screen and (max-width: 468px) {
        margin-top: 75px;
      }
    }
  }
}

body.tag-activity > header > .tags li > a.activity,
body.tag-product > header > .tags li > a.product,
body.tag-media-report > header > .tags li > a.media-report,
body.tag-user-story > header > .tags li > a.user-story {
  background-image: linear-gradient(90deg, #77E7FC 0%, #136CFF 100%);
  color: #fff;
  border: none;
}

body > header> .tags li + li {
    margin-left: 23px;
}

div.article-wrap {
    text-align: center;
}
ul.article-list {
    font-size: 0;
    overflow: hidden;
    display: inline-block;
    /*margin-top: 35px;*/
    margin-bottom: 100px;
    width: 911px;
    padding-bottom: 10px;
    @media screen and (max-width: 468px) {
      max-width: 100%;
    }
}
ul.article-list li {
    padding: 7px;
    width: 261px;
    height: 350px;
    box-sizing: border-box;

    font-size:12px;
    background:#ffffff;
    width:261px;
    display: inline-block;
    margin-left: 31px;
    margin-top: 35px;
    border: 1px solid rgba(0, 0, 0, .10);
    overflow: hidden;
    @media screen and (max-width: 468px) {
      margin-left: 0;
    }

}
ul.article-list li:hover {
    border:1px solid rgba(0,130,255,0.23);
    box-shadow:0px 3px 3px 0px rgba(0,130,255,0.23);
}
ul.article-list li:nth-child(3n + 1) {
    margin-left: 0;
}
/*ul.article-list li + li {
    margin-left: 31px;
}*/
ul.article-list li article {
    padding: 0;
}
ul.article-list li article header {
    margin-bottom: 0;
}
ul.article-list li article.featured  header,
ul.article-list li article  div.text {
    padding: 0;
}
ul.article-list li article > div.text {
    position: relative;
}
ul.article-list li article  div.text a {
    color: #666;
}
ul.article-list li article  div.text a.readmore {
    position: absolute;
    bottom: 6px;
    right: 10px;
    display: none;
}
ul.article-list li article header h2 {
    font-size: 0;
    margin-bottom: 10px;
}
ul.article-list li article header h2 a {
    font-size: 16px;
    color: #333;
    font-weight: normal;
    line-height: 1.4;
}
ul.article-list li article .wrapper-info {
    padding: 0;
    max-height: 112px;
    overflow: hidden;
}
ul.article-list li article .text p {
    color: #9f9f9f;
    font-size: 12px;
    text-align: justify;
}
ul.article-list li article {
    margin-top: 0;
}
ul.article-list li article.featured > footer,
ul.article-list li article > footer {
    margin-top: 34px;
    overflow: hidden;
    padding: 0;
}
ul.article-list li article footer .time {
    float: left;
    color: #a3a3a3;
}
ul.article-list li article footer .tags {
    float: right;
    color: #000;
}
// ul.article-list li article footer .tags a {
//     color: #000;
// }
// ul.article-list li article footer .tags a[href='/tag/product/']{
//     color:#3561c7;
// }
// ul.article-list li article footer .tags a[href='/tag/activity/']{
//     color:#0082ff;
// }
// ul.article-list li article footer .tags a[href='/tag/media-report/']{
//     color:#7039ba;
// }
// ul.article-list li article footer .tags a[href='/tag/user-story/']{
//     color:#dabf1b;
// }
body.user ul.article-list li article .image-holder {
    display: inline-block;
    height: auto;
    /*width: */
}
