::-ms-clear, ::-ms-reveal{display: none;}
.mask{
	display:block;
	background:rgb(40, 156, 253);
	position:absolute;
	left:0;
	top:0;
    right: 0;
    bottom: 0;
	opacity:0.3;
	z-index:5
}
.posR
{
    position: relative;
}
.popup {
    display: none;
    position: fixed !important;
    z-index: 1000;
    width: 353px;
    min-height: 395px;
    padding-bottom: 21px;
    left: 550px;
    top: 140px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    border: 6px solid rgba(0,0,0,0.1);
}
#pageLogin .switcher,#pageRegister .switcher {
    margin: 25px auto 30px;
    display: block;
    text-align: center;
    font-size: 14px;
}
#invitedLogin .switcher,#invitedReg .switcher
{
    margin:9px auto 8px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.popup .switcher span.switcherUsing{
    color:#3b3b3b;
}
.popup .switcher span.switchDot{
    font-size: 20px;
    color: #aaa;
    font-weight: bold;
    margin:0 5px;
 }
.popup .switcher span.switcherWillUse{
    color:#aaa;
    font-size:14px;
    cursor: pointer;
}
.popup .switcher span.switcherWillUse:hover{
    color:#0c9dd8;
}
.popup .errorDialog{
    display: none;
    position:absolute;
    line-height: 20px;
    min-width:130px;
    max-width: 179px;
    background-color: #c9c9c9;
    border:1px solid #b0b0b0;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 10px;
    font-size: 12px;
    color: #d83131;
    text-align:center;
}

.popup .errorDialog:before,.popup .errorDialog:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
}
.popup .errorDialog:before{
    left:-8px;
    top:24px;
    border-right:8px solid #b0b0b0;
    border-top:4px solid transparent;
    border-bottom:4px solid transparent;
}
.popup .errorDialog:after{
    left:-6px;
    top:24px;
    border-right:8px solid #c9c9c9;
    border-top:4px solid transparent;
    border-bottom:4px solid transparent;
}
.errorMsgId {
    top: -10px;
    left: 330px;
    z-index: 2;
}
.errorMsgPsw {
    top: -10px;
    left: 330px;
    z-index: 2;
}
.errorMsgMiddle{
    top: 20px;
    left: 330px;
}
.popup .errorMsg .toUs{
    text-decoration: underline;
}
.popup .popContent{
    box-sizing: border-box;
    display: block;
    outline:none;
	width: 290px;
	height: 41px;
    line-height: normal;
	margin:13px auto;
    font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei", "华文细黑", "STHeiti,MingLiu";
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #b0b0b0;
    border-radius: 20px;
    color: #aaa;
    padding: 10px 55px;
    text-align: center;
    background:#fafafa;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ffffff));
}
.popup #selectList
{
    text-align: center;
    position: relative;
    cursor: pointer;
}
.popup #selectList select
{
    border:none;
}
.popup #selectList option
{
    text-align: center;
}
#userEmail,#regEmail,#email,#inviteEmail,#checkEmail,#regReInputPho{
    background: url("../images/loginDialog/userBg.png") no-repeat;
}
#passWord,#regPassword,#password,.regPassword,#invitePassword,#newPassword,#commitPassword {
    background:url("../images/loginDialog/lockBg.png") no-repeat;
}
#validateCode,#regValidateCode{
    background:url("../images/loginDialog/vcodeBg.png") no-repeat;
}
.popup .stay{
    width: 290px;
    height: 35px;
    margin-bottom: 10px;
    margin-left: 30px;
    background: #67A3C7;
    border: 0;
    border-radius: 5px;
    color: white;
}
.popup .root{
	width: 290px;
	margin: 14px auto 16px;
}
.popup .root span
{
    font-size: 12px;
    color:#3b3b3b;
}
.popup .popCenter{
	vertical-align: middle;
	margin-right: 5px;
    margin-bottom:2px;
}
.popup .popCenter:active,.popup .popCenter:hover
{
    color:#0c9dd8;
}
.popup .root a{
	float: right;
    text-decoration:none;
    color: #3b3b3b;
}
.popup .root a:active,
.popup .root a:hover {
    color:#0c9dd8;
}
#pageRegister .blueBtn,#invitedReg .blueBtn
{
    margin:12px auto 20px;
}
.cutLine
{
    width: 290px;
    height: 0;
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #fff;
    margin:0 auto;
}
.socializeSpan
{
    font-size: 12px;
    display: block;
    text-align: center;
    margin-top: 16px;
    color:#ababab;
}
.socializeLoginBtn
{
    margin-top: 15px;
    width:50px;
    height: 50px;
    float: left;
    margin-left:42px;
    cursor:pointer;
}
.sWeixin
{
    margin-left:52px;
    background-image: url("../images/loginDialog/wx.png");
}
.sQQ
{
    background-image: url("../images/loginDialog/qq.png");
}
.sWeibo
{
    background-image: url("../images/loginDialog/weibo.png");
}

.popup .gray{
	color: #c0c0c0;
	font-size: 18px;
	font-family: 'SimHei';
}
.popup .topgray{
	text-align: center;
    margin: 40px 0 40px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.popup .topgrayy{
    text-align: center;
    margin: 40px 0 40px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.popup .bigBlue{
	color: #088ec3;
}
.popup .register{
    background-color: #67A3C7;
    color: white;
    text-align: center;
    border:0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    width: 230px;
    height: 40px;
    margin-left: 70px;
    font-size: 17px;
    margin-top: 20px;
}
.popup .register:hover{
    background-color: #0064A0;
}
.popup .loginInvite{
	background:transparent;
	border:0;
	width: 210px;
    height: 40px;
    color: #7EA2FF;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-left: 80px;
    margin-top: 10px;
}
.popup .loginInvite:hover{
    text-decoration: underline;
}
.popup .image
{
    margin: 50px auto 0;
    text-align: center;
}
.popup .image img
{
    margin: 0 auto;
}
.popup .right{
    margin-left: 55px;
    margin-bottom: 50px;
}
.popup .cross{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    right: 0;
    top:0;
    color: #494949;
    cursor: pointer;
    background: #fff;
}
.popup .cross:hover{
    color:#0c9dd8;
}
.popup .backPre
{
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    left: 0;
    top:0;
    color: #fff;
    cursor: pointer;
    background: #ddd;
}
.popup .backPre:hover{
    color:#0c9dd8;
}
.popup .options{
    display: none;
    width: 130px;
    height: 190px;
    background-color:#FAFAFA;
    position: absolute;
    right:25px;
    top:230px;
    padding-top: 5px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
}
.popup .options li{
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.popup .options li:hover{
    cursor: pointer;
}
.regSuccessDlg b{
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    margin: 0 auto;
    color:#3b3b3b;

}
.regSuccessDlg .middle{
    display: block;
    text-align: center;
   font-size: 12px;
    line-height: 22px;
    margin: 0 auto 12px;
    color:#ababab;
}
.middleText
{
    display: block;
    text-align: center;
    margin:14px auto 44px;
}
.popup .btnS{
    display: block;
    width: 290px;
    height: 41px;
    border-radius: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    outline:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popup .blueBtn{
    background:#08a7e6;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#08a7e6), to(#00a0e0));
    background:-moz-linear-gradient(top,#08a7e6,#00a0e0);
    border:1px solid #048ed1;
    margin:0 auto;
}
.popup .blueBtn:hover{
    background:#00a0e0;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#00a0e0), to(#08a7e6));
    background:-moz-linear-gradient(top,#00a0e0,#08a7e6);
    border:1px solid #048ed1;
}
.popup .blueBtn:active{
    background:#00a0e0;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#00a0e0), to(#08a7e6));
    background:-moz-linear-gradient(top,#00a0e0,#08a7e6);
    box-shadow: 0 0 8px rgba(0,0,0,0.2) inset;
    border:1px solid #048ed1;
}
.popup .grayBtn{
     background:#cdc7c7;
     background:-webkit-gradient(linear, 0 0, 0 100%, from(#cdc7c7), to(#b7b7b7));
     background:-moz-linear-gradient(top,#cdc7c7,#b7b7b7);
     border:1px solid #b7b7b7;
 }
.popup .grayBtn:hover{
    background:#b7b7b7;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#b7b7b7), to(#cdc7c7));
    background:-moz-linear-gradient(top,#b7b7b7,#cdc7c7);
    border:1px solid #cdc7c7;
}
.popup .grayBtn:active{
    background:#b7b7b7;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#b7b7b7), to(#cdc7c7));
    background:-moz-linear-gradient(top,#b7b7b7,#cdc7c7);
    box-shadow: 0 0 8px rgba(0,0,0,0.2) inset;
    border:1px solid #cdc7c7;
}
.popup .redBtn{
     background:#f15c5c;
     background:-webkit-gradient(linear, 0 0, 0 100%, from(#f15c5c), to(#eb4444));
     background:-moz-linear-gradient(top,#cdc7c7,#eb4444);
     border:1px solid #eb4444;
 }
.popup .redBtn:hover{
    background:#eb4444;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#eb4444), to(#f15c5c));
    background:-moz-linear-gradient(top,#eb4444,#f15c5c);
    border:1px solid #f15c5c;
}
.popup .redBtn:active{
    background:#eb4444;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#eb4444), to(#f15c5c));
    background:-moz-linear-gradient(top,#eb4444,#f15c5c);
    box-shadow: 0 0 8px rgba(0,0,0,0.2) inset;
    border:1px solid #f15c5c;
}
#goNewTeam,#inviteReg1
{
    margin: 35px auto 13px;
}
#inviteLogin1 {
    margin:13px auto 35px;
}
.popup input[type='button']{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popup .teamConfirmFont{
    width: 290px;
    display: block;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #3b3b3b;
    font-weight: normal;
    margin: 25px auto;
}
.pt14pb44{
padding-top: 14px;
padding-bottom: 44px;
}
.pt24pb25
{
    padding-top: 24px;
    padding-bottom: 25px;
    text-align: center;
    line-height: 25px;
}
/*#returnRsq{
    background: url("../images/loginDialog/returnBtn-bak.png");
    display: block;
    width: 124px;
    font-size: 14px;
    color: #fff;
    height: 32px;
    line-height: 32px;
    margin: 14px 14px 14px 20px;
    padding-left: 12px;
}*/
.littleTriangle
{
    display: block;
    position: absolute;
    right: 15px;
    top:18px;
    width: 0;
    height: 0;
    border-top:5px solid #8d8d8d;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
}
/*--------------重发部分------------------*/
.sLock
{
    margin: 30px auto 13px;
    background-image: url("../images/loginDialog/lock.png");
    width:90px;
    height: 90px;
}
.sPlane
{
    margin: 34px auto 19px;
    background-image: url("../images/loginDialog/plane.png");
    width: 77px;
    height: 77px;
}
.resetMsg
{
    width: 290px;
    display: block;
    line-height: 25px;
    margin: 13px auto 15px;
    text-align: center;

}
span.sendMsgTwo
{
    display: block;
    line-height: 20px;
    font-size: 12px;
    color: #b2b2b2;
}
#sendEmailMsg,#checkEmail{
    margin-top: 49px;
    background:#fafafa;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ffffff));
    background-image:url("../images/loginDialog/inputEmail.png");
    background-repeat: no-repeat;
}
#findRegEmail{
    margin-top: 49px;
    background:#fafafa;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ffffff));
    background-image:url("../images/loginDialog/userBg.png");
    background-repeat: no-repeat;
}
#reInputPho{
     margin-top: 49px;
     background:#fafafa;
     background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ffffff));
     background-image:url("../images/loginDialog/phoneBg.png");
     background-repeat: no-repeat;
 }
.reSend
{
    display: block;
    width: 32px;
    height: 32px;
    outline:none;
    border:1px solid #ccc;
    border-radius: 16px;
    top: 5px;
    position:absolute;
    right: 30px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.location
{
    padding-bottom:55px !important;
}

#divForInput{border:1px solid #ccc;width:210px;padding-top:3px;height:25px;}
.searchResult{
    line-height: 20px;
    font-size: 14px;
    display:none;
    position:absolute;
    border:solid #ccc 1px;
    border-top:0;
    width:260px;
    top: 41px;
    left:37px;
    background: #fff;
    z-index: 2;
    min-height:25px;
    max-height: 330px;
    overflow:auto;
}
.email{padding:3px 5px;width:100%;overflow:hidden;cursor:pointer;}
.searchResult li.highLight
{
    background: #eee;
}
.popupBtn{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.popupBtn[disabled='disabled']{
    background: #c8c8c8;
    border: none;
}
.popupBtn[disabled='disabled']:hover{
    background: #c8c8c8;
    cursor: wait;
    border: none;
}